################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gameBrain/.vs/gameBrain/v15/Server/sqlite3/db.lock
/GB/Communication/bin/Debug
/GB/Communication/obj/Debug
/GB/GameBrain/bin/Debug
/GB/GameBrain/obj/Debug
/GB/gameTools/bin/Debug
/GB/gameTools/obj/Debug
/GB/GB/GB/bin/Debug/netstandard2.0
/GB/GB/GB/obj/Debug/netstandard2.0
/GB/GB/GB/obj
/GB/GB/GB.Android/bin/Debug
/GB/GB/GB.Android/obj/Debug/MonoAndroid81/android/bin
/GB/GB/GB.Android/obj/Debug/MonoAndroid81
/GBControlStation/.vs/GBControlStation/v15/Server/sqlite3/db.lock
/GBControlStation/GBControlStation/GBControlStation.Android/bin/Debug
/GBControlStation/Communication/obj
/GBControlStation/GBControlStation/GBControlStation/obj
/GBControlStation/GBControlStation/GBControlStation.Android/obj
GB/.vs/GB/v15/.suo
GB/.vs/GB/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
