body{
	background-color:#cfcfd8;
}
#mainContent
{
	margin-top: -10px;
}

#mainContent > ul {
	list-style-type: none;
    padding: 5px 0 5px 0;
}

#mainContent > ul > li {
	margin: 0 0px 8px 9px;
    padding-left: 5px;
    border-left: 3px solid #7d78ab;
	color: #545454;
}
#mainContent > ul > li.error {
	margin: 0 0px 8px 9px;
    padding-left: 5px;
    border-left: 5px solid red;
	color: #545454;
}

#sendButton{
	width: 110%;
    margin: -10px -10px 10px -10px;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    font-size: larger;
    font-weight: lighter;
    color: #101010;
}

#Puzzles {
    
}

.labelsBox {
	display: flex;
    flex-flow: row;
    align-items: baseline;
}

#Puzzles > div {
	margin-bottom: 10px;
}
.puzzle {
    margin: auto;
    background-color: #f9f9f9;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 99%;
    height: 160px;
}
.Name {
    font-size: 1.2em;
	font-family: Lucida Console;
	color: #cfcfd8;
	margin: 10px;
}
.Status {
    font-size: 1.5em;
    font-weight: bold;
    color: #c31919;
}
.DetailsContainer{
	display: flex;
    width: 70%;
	height:70%;
    align-items: center;
    align-content: center;
    text-align: center;
}
.Details{
	color: #4e4e4e;

}
.buttonBox {
	display: flex;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    height: 100%;
    width: 30%;
}
.button {
    padding: 5px;
    flex: 1;
    border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.2s;
}
.active {
	background-color: #c5f1c4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
	color: #3a3a3a;
	z-index:10;
}
.active:hover {background-color: #a1ea9f; }
.active:active{
	background-color: #71d86f;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1);
}

.blueButton{
	background-color: #a0b4e2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
	color: #101010;
	z-index:10;
	border: none;
    width: 100%;
    outline: none;
}
.blueButton:hover {background-color: #8aa2d8; }
.blueButton:active{
	background-color: #6687d2;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1);
}

.disabled{
	background-color: #eaeaea;
	color: #aba9a9;
	z-index:1;
	cursor: default;
}

.green
{
	color:green;
}
.gray
{
	color: #a9a9a9;
}

#testingButtons{
	display:flex;
}
#testingButtons > button {
	background: #9a9090;
	flex-grow:1;
	margin: 5px 2px;
}

#testingButtons > button:active{
	background: #847070;
}
